*{
	margin:auto;
	padding: auto;
}
/*header*/
header{
	position:absolute;
    top:0;
	text-transform: uppercase;
	background-color: #538eb0;
	font-weight: bold;
	color: #ffffff;
	width: 100%;
	height: 50px;
	z-index: 1;
}

header .nav>li>a:focus, .nav>li>a:hover {
	color:#538eb0;
}
header .nav>li>a:focus, .nav>li>a {
	color:#ffffff;
}
/*-------*/
/*myconten*/
#mycontent{
	margin: 50px 0 50px 0;
}
/*----------*/
/*footer*/
footer{
	position:fixed;
    bottom:0;
	background-color: #538eb0;
	font-weight: bold;
	color: #ffffff;
	width: 100%;
	height: 50px;
}
/*------*/
.text-main{
	color:#757575;
}

.main{
	margin-bottom: 100px;
}
.navbar{
	background-color: #538eb0;
}

.area-text {
	margin-top: 10px;
}

.logo {
	width: 100px;
    height: 37px;
    margin-top: -7px;
}
.area_text2{
	margin-top: 30px;
	margin-bottom: 20px;
}


.text-left-l, .text-right-r{
	padding:5px 0px;
}
.text-left-l ul li, .text-right-r ul li {
	list-style: none;
}


.text-right-r{
	text-align: left;
}

/*.commentcontent {
	border-top: 1px solid #757575;
}*/

.text-left-l .define , .text-right-r .mean{
	padding: 5px 20px;
	margin-left: -40px;
}
.catgory{
	color: #337AB5;
	font-size: 15px;
	text-shadow: 0px 1px #757575;
}
.text-left-l hr , .text-right-r hr{
	margin-top: 1px;
	margin-bottom: 2px;
}

.comment-content {
	margin-top: 10px;
}

.comment-date{
	float: right;
}
.newcomment {
	margin-top: 2px;
	width: 80%;
}
.user{
	color:#337AB5;
}
#rating {
	font-size: 12px;
	margin-left: 10px;
}
/*rating*/
.liked .like{
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
.liked .dislike{
	font-weight: unset;
	text-decoration: none;
	cursor: pointer;
}
.disliked .like{
	font-weight: unset;
	text-decoration: none;
	cursor: pointer;
}
.disliked .dislike{
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}


#like_dislikemean a,#like_dislikedefine1 a,#like_dislikemean3 a,#like_dislikemean4 a,#like_dislikedefine1 a, #define a,#ratingmean3 a, #ratingmean a,#mean4 a, .comment a, #mean3 a{
	text-decoration: none;
	cursor: pointer;
}
/*-------*/
#ratingmean3 a, #ratingmean a, #ratingdefinition1 a{
	text-decoration: none;
	cursor: pointer;
}
ul li{
	list-style: none;
}

h1 {
	color: #5f5f5f;
}
/*.nav-footer {
	text-align: center;
	margin: auto;
	background-color:  #A46EEA;
	color: white;
	margin-bottom: 0;
    border-radius: 0;
}
.nav-footer a{
	background-color:  #A46EEA;
	color: blue;
}


.navbar-menu a{
	color:white;

}
.navbar-menu li a:hover, .navbar-menu li a:visited {
	background-color: #8B44E8 ;
	color:white;
	box-shadow:0 3px 5px 0 rgba(0,0,0,0.11),0 4px 11px 0 rgba(0,0,0,0.11)!important;
}*/


input[type=textFind] {
	resize: none;
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ebebeb;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

input[type=textFind]:focus {
	resize: none;
    border: 3px solid #538eb0;
}


input[type=textseached] {
	background-color: #ebebeb;
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ebebeb;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


input[type=textseached]:focus {
    border: 3px solid #ebebeb;
}



input[type=textFind]:hover,input[type=textseached]:hover {
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important
}



/*----------------*/
.w3-select{padding:0 10px;width:100%; font-size: 14px;color:#000;border:1px solid transparent;border-bottom:1px solid #A46EEA}
.w3-card-4 {box-shadow:0 6px 8px 0 rgba(0,0,0,0.1),0 0px 1px 0 rgba(0,0,0,0.2)!important}
.w3-card-2 {box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}




@media (min-width: 768px){
	.navbar {
	     border-radius: 0; 
	}
}
/**/