html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
/*header*/
header{
	position:fixed;
    top:0;
	background-color: #f44336!important;
	font-weight: bold;
	color: #ffffff;
	width: 100%;
	height: 50px;
	z-index: 1;
}

/*header:hover{

	-moz-box-shadow: 1px 1px 1px #000;
    -webkit-box-shadow: 1px 1px 1px #000;
    box-shadow: 1px 3px 1px #000;
}*/

header .nav>li>a:focus, .nav>li>a:hover {
	background-color: #f44336;
}
header .nav>li>a:focus, .nav>li>a {
	color:#ffffff;
}
/*-------*/
.meanadd{
	width: 50%;
	float: left;
}
.definitionadd
{
	width: 50%;
	float: right;;
}
/*myconten*/
#mycontent{
	margin: 50px 0 50px 0;
}
/*----------*/
/*footer*/
footer{
	position:fixed;
    bottom:0;
	font-weight: bold;
	color: #ffffff;
	width: 100%;
	height: 50px;
}
/*------*/


/* contribute */
.contents-contributes{
	float: left;
	padding: 5px;
}
.contents-contributes .title{
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	margin-bottom: 10px;
}
.contents-contributes .content-contribute{
	text-align: left;
	float: left;
	padding: 0;
}
.contents-contributes .contributes{
	display: block;
	float: right;
	text-align: center;
	font-weight: bold;
	font-size:20px;
	padding:0px;
}
.contents-contributes p{
	margin: 0;
}
.contents-contributes p.define{
	font-weight: bold;
	font-size: 16px;
	width: 100%;
}
.contents-contributes p.word{
	font-size: 16px;
	color: #00bcd4!important;
}
.contents-contributes .word>span{
	float:right;
}
.contents-contributes p.word:before{
	content: "Thuật ngữ: ";
	color: darkblue;
}
.contents-contributes p.contribute{
	font-weight: bold;
	font-size: 25px;
	padding: 0px;
	line-height: 15px;
}
.contents-contributes span.cate-contribute{
	color: #3e3e3e;
	font-size: 20px;
	float: right;
	margin-bottom: 3px;
}
.contents-contributes p.username-contribute{
	color: #00bcd4!important;
}
.contents-contributes a.readmore-contribute{
	color: grey;
	float:right;
	cursor: pointer;
}
p.username-contribute:before{
	content: "Người đóng góp: ";
	color: darkblue;
}
.contents-contributes .readmore{
	width: 100%;
	float:left;
	text-align: center;
}
.contents-contributes .content-contributes{
	width: 100%;
	float: left;
}
.contents-contributes .contribute-content{
	width: 100%;
	float: left;
}
.contents-contributes .content-contributes .chang{
	background-color: #ddd;
	padding:5px;
}
.contents-contributes .fa-chevron-down,.contents-contributes .fa-chevron-up{
	cursor: pointer;
	
}
.contents-contributes .fa-chevron-down:active,.contents-contributes .fa-chevron-up:active{
	color:blanchedalmond;
	
}
.contents-contributes .readmore-contribute-content{
	width: 100%;
	float:left;
	font-style:italic;
}
q {
    quotes: "\201C" "\201D" ;
}

.col-define{
	border-bottom: 1px solid lightgrey;
}
/* ------------- */
.text-main{
	color:#757575;
}

.main{
	margin-bottom: 100px;
}
.navbar{
	background-color: #f44336!important;
}

.area-text {
	margin-top: 10px;
}

.logo {
	width: 100px;
    height: 37px;
    margin-top: 5px;
}
.area_text2{
	margin-top: 30px;
	margin-bottom: 20px;
}


.text-left-l, .text-right-r{
	padding:5px 0px;
}
.text-left-l ul li, .text-right-r ul li {
	list-style: none;
}


.text-right-r{
	text-align: left;
}

/*.commentcontent {
	border-top: 1px solid #757575;
}*/

.text-left-l .define , .text-right-r .mean{
	padding: 5px 20px;
	margin-left: -40px;
}
.catgory{
	color: #337AB5;
	text-shadow: 0px 1px #757575;
}
.text-left-l hr , .text-right-r hr{
	margin-top: 1px;
	margin-bottom: 2px;
}

.comment-content {
	margin-top: 10px;
}

.comment-date{
	float: right;
}
.newcomment {
	margin-top: 2px;
	width: 80%;
}
.user{
	color:#337AB5;
}
#rating {
	font-size: 12px;
	margin-left: 10px;
}
/*rating*/
.liked .like{
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}
.liked .dislike{
	font-weight: unset;
	text-decoration: none;
	cursor: pointer;
}
.disliked .like{
	font-weight: unset;
	text-decoration: none;
	cursor: pointer;
}
.disliked .dislike{
	font-weight: bold;
	text-decoration: none;
	cursor: pointer;
}

.comment{
	text-decoration: none;
	cursor: pointer;
}

#mean26 a, #like_dislikemean a,#like_dislikedefine1 a,#like_dislikemean3 a,#like_dislikemean4 a,#like_dislikedefine1 a, #define a,#ratingmean3 a, #ratingmean a,#mean4 a, .comment a, #mean3 a{
	text-decoration: none;
	cursor: pointer;
}
/*-------*/
#ratingmean3 a, #ratingmean a, #ratingdefinition1 a{
	text-decoration: none;
	cursor: pointer;
}
ul li{
	list-style: none;
}

h1 {
	margin-top: 20px;
	color: #5f5f5f;
	font-size: 30px;
}
h2 {
	margin-top: 20px;
	color: #5f5f5f;
	font-size: 20px;
}

a {
	font-size: 15px;
}
/*.nav-footer {
	text-align: center;
	margin: auto;
	background-color:  #A46EEA;
	color: white;
	margin-bottom: 0;
    border-radius: 0;
}
.nav-footer a{
	background-color:  #A46EEA;
	color: blue;
}


.navbar-menu a{
	color:white;

}
.navbar-menu li a:hover, .navbar-menu li a:visited {
	background-color: #8B44E8 ;
	color:white;
	box-shadow:0 3px 5px 0 rgba(0,0,0,0.11),0 4px 11px 0 rgba(0,0,0,0.11)!important;
}*/


input[type=textFind] {
	resize: none;
    width: 100%;
    padding: 20px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ebebeb;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    border-radius: 0px;
}

input[type=textFind]:focus {
	resize: none;
    border: 3px solid #538eb0;
    width: 100%;
}


textarea {
	background-color: #ebebeb;
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ebebeb;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}


textarea:focus  {
    border: 3px solid #ebebeb;
}



input[type=textFind]:hover,textarea:hover{
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)!important
}

input[type=textFind]:hover,textarea:hover{
	margin-bottom: 0px;
}


/*----------------*/
.w3-select{padding:0 10px;width:100%; font-size: 14px;color:#000;border:1px solid transparent;border-bottom:1px solid #A46EEA}
.w3-card-4 {box-shadow:0 6px 8px 0 rgba(0,0,0,0.1),0 0px 1px 0 rgba(0,0,0,0.2)!important}
.w3-card-2 {box-shadow:0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important}




@media (min-width: 768px){
	.navbar {
	     border-radius: 0; 
	}
}
/**/

.ui-autocomplete {
z-index: 100;
}



.w3-btn,.w3-button{border:none;display:inline-block;outline:0;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
.w3-btn.w3-disabled:hover,.w3-btn:disabled:hover{box-shadow:none}

.w3-ul{list-style-type:none;padding:0;margin:0}.w3-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.w3-ul li:last-child{border-bottom:none}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable li:hover{background-color:#ccc}.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-border-left{border-left:1px solid #ccc!important}.w3-border-right{border-right:1px solid #ccc!important}

/* W3.CSS 4.02 Mar 2017 by Jan Egil and Borge Refsnes */



h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:10px 0}


.time1 {
	font-size: 13px;
	color:grey;
}
.time1>.user{
	font-size: 15px;
	font-style: bold;
	font-style: italic;
	font-weight: bold;
}
.time1>span{
	float: right;
}

.cmment{
	background-color: #f0e68c!important;
}

.cmment1{
	background-color: #f0e68c!important;
	border: 2px;
	padding: 5px 6px;
}

.w3-ul li:hover{
	background-color: #f1f1f1;
}
.btn {
	margin-top: 20px;
}
h2{
	margin-top: 20px;
    color: #1f1f1f;
    background-color: LIGHTBLUE;
    padding: 8px;
}

.btn-default{
	background-color: #f44336;
	color:white;
}
.btn-default:hover{
	background-color: #f44336;
	color:white;
	box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)
}

#ratingmean a{
	font-size: 14px;
}
#contribute{
	color: #5f5f5f;
}
.col-define>.word{
	border-bottom: 1px solid lightgrey;
}
/*==========================*/
.w3-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}